*-Ex.R
.Rhistory
.RData
.Rproj.user
*.csv
*.xls
*.xlsm
*.xml
/Random Statistical Analysis/Boxture_cache/
/Random Statistical Analysis/Boxture.html
/Random Statistical Analysis/Boxture.Rmd
/R Programming/ass3/*
/!R Programming/ass3/*